<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5d81d313-d7ac-4ef5-a8f5-efddf1ac6a92" Publisher="CN=Haliluya" Version="1.0.0.16" />
  <Properties>
    <DisplayName>移动医疗Client</DisplayName>
    <PublisherDisplayName>Haliluya</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="iCareClient.App">
      <VisualElements DisplayName="移动医疗" Logo="Assets\150+150.png" SmallLogo="Assets\SmallLogo.png" Description="iCareClient" ForegroundText="light" BackgroundColor="#ffffff">
        <DefaultTile ShowName="wideLogoOnly" WideLogo="Assets\Logo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#01b2de" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>